@using MSI.Model
@model IEnumerable<MeetingRequest>
<link href="~/css/meetingRequest.css" rel="stylesheet" />
@foreach (var it in Model)
{
    <div class="request">
        <div class="request-info">
            <span class="request-info-user">@it.Requester.Email</span>
            <span class="request-info-date">@it.StartDate - @it.EndDate.ToString("HH:mm")</span>
        </div>
        <div class="request-options">
            <a data-ajax="true" data-ajax-update="#requestsBody" asp-controller="MeetingRequest" asp-action="DeclineRequest" asp-route-requestId="@it.Id" class="request-options-decline">Decline</a>
            <a data-ajax="true" data-ajax-update="#requestsBody" asp-controller="MeetingRequest" asp-action="AcceptRequest" asp-route-requestId="@it.Id" class="request-options-accept">Accept</a>
        </div>
    </div>

}