@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@using MIS.Model
@using MSI.Model
@model List<MIS.Model.CriminalRecordPoliceman>
<link href="~/css/recordDetails.css" rel="stylesheet" />
@{CriminalRecord criminalRecord = Model.ElementAt(0).CriminalRecord; }

<div class="record-content">
    <div class="record-details">
        <div class="record-details-description">
            <span style="color : #3367d6">></span> Description : @criminalRecord.Description
        </div>
        <div class="record-details-type">
            <span style="color : #3367d6">></span> <span id="type">Type : @criminalRecord.Type </span><i class="far fa-edit type-icon" onclick="toggleTypeInput()"></i>
            <div class="form-group modify-type">
                <input type="text" id="newValueType" value="@Model.ElementAt(0).CriminalRecord.Type" class="form-control" onkeypress="modifyType(event)" />
            </div>
        </div>
        <div class="record-details-status">
            <div style="margin-bottom : 3px">
                <span style="color : #3367d6">></span> <span id="status">Status : @criminalRecord.Status</span>
            </div>
            <button class="record-status-enable" onclick="modifyStatusEnable()">Active</button>
            <button class="record-status-close" onclick="modifyStatusDisable()">Closed</button>
        </div>
        <div class="record-details-name">
            <span style="color : #3367d6">></span> Name : @criminalRecord.Name
        </div>
        <div class="record-details-created-date">
            <span style="color : #3367d6">></span> Created : @criminalRecord.CreatedOn.ToShortDateString()
        </div>
    </div>
    <div class="record-documents">
        <div class="record-documents-header">
            <div class="record-documents-text">Documents</div>
            <div class="record-documents-add" data-target="#documentModal" data-toggle="modal">Add Document</div>
        </div>
        @foreach (var item in ViewData["documents"] as IList<Document>)
        {
            <div class="record-document">
                <img class="record-document-photo" src="@item.Path" alt="title" asp-append-version="true">
                <div class="record-document-info">
                    <div class="record-document-name">@item.Name</div>
                    <div class="record-document-date"> @item.AddedDate.ToShortDateString()</div>
                    <a class="record-document-delete" href="/CriminalRecord/DeleteDocument?criminalRecordId=@criminalRecord.Id&documentId=@item.Id" target="_blank">Delete</a>
                </div>
            </div>
        }

    </div>
</div>
<table class="table table-striped" style="margin-top : 50px">
    <thead>
        <tr>

            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Added</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var agent in Model)
        {
            <tr>
                <td>
                    @agent.Policeman.Name
                </td>
                <td c>
                    @agent.Policeman.Email
                </td>
                <td>
                    @agent.DateWhenWasAdded.ToShortDateString()
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="documentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="CriminalRecord" asp-action="FileInModel" enctype="multipart/form-data" class=" mt-2 mr-4" style="margin:auto">
                    <input type="hidden" name="criminalRecordId" value="@criminalRecord.Id" />
                    <div class="form-group">
                        <input class="form-control" placeholder="Name.." type="text" name="DocumentDTO.Name" />
                    </div>
                    <div class="form-group">
                        <label class="record-status-enable" for="fileInput"><i class="fas fa-upload"></i> Choose File</label>
                        <input type="file" name="DocumentDTO.File" id="fileInput" style="display:none" />
                    </div>
                    <button class="record-status-enable" type="submit"> Submit </button>
                </form>
            </div>

        </div>
    </div>
</div>


<form asp-controller="CriminalRecord" asp-action="AddPolicemanToACriminalRecord">
    <input type="hidden" name="criminalRecordId" value="@criminalRecord.Id" />
    <div class="add-policeman" style="display : flex;align-items:center">
        <input type="text" class=" form-control" name="policemanEmail" placeholder="Email.." id="emailValue" style="width : 90%" />

        <button type="submit" class="record-status-enable" style="margin-left : auto">
            Add policeman
        </button>
    </div>

    <button type="button" id="myBackButton" style="display:none" class="btn btn-primary btn-sm col-2 " onclick="DisplayNone()"> Undo</button>

</form>










@*<div class="modal fade" id="editDetails" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                    </form>
                </div>
            </div>
        </div>
    </div>*@





<script>


    function displayPoliceman(value) {
                document.getElementById('policemenList').style.display = value;
            }

    function DisplayBlock() {
                    displayPoliceman('block');
                    document.getElementById('myBackButton').style.display = 'block';
                    document.getElementById('myButton').style.display = 'none';

                }

    function DisplayNone() {
                    displayPoliceman('None');
                    document.getElementById('myButton').style.display = 'block';
                    document.getElementById('myBackButton').style.display = 'none';
                }


    function modifyType(e) {
        if (e.keyCode == 13) {
            var myValue = document.getElementById('newValueType').value;
            $.ajax(
                {
                    type: "POST",
                    url: "/CriminalRecord/ModifyType?newType=" + myValue + "&criminalRecordId=" + "@Model.ElementAt(0).CriminalRecord.Id",
                    success: function (response) {
                        $("#type").html('Type : ' + response + ' ');
                        toggleTypeInput();
                    }
                })
        }
    }

    function toggleTypeInput() {
        var input = $('#newValueType');
        if (input.css('display') != 'none') {
            input.css('display', 'none')
        }
        else {
            input.css('display' , 'block')
        }
    }

    function modifyStatusEnable() {
        $('#status').html("Status : Active");
            $.ajax({
                url: "/CriminalRecord/SetStatus?enumValue=1&criminalRecordId=" + "@Model.ElementAt(0).CriminalRecord.Id"
        })
    }
    function modifyStatusDisable() {
        $('#status').html("Status : Closed");
            $.ajax({
                url: "/CriminalRecord/SetStatus?enumValue=0&criminalRecordId=" + "@Model.ElementAt(0).CriminalRecord.Id"
        })
    }



    //function setEnable(int id) {
    //                $('#enableButton')

    //                $(document).ready(function () {
    //                    var myUrl = window.location.href;
    //                    $.ajax({
    //                        type: "GET",
    //                        url: myUrl + '/GetCriminalRecordStatus/' + id,
    //                    })
    //                }
    //}

    //function enablueButton(int criminalRecord) {
    //            $('#enableButton')=
    //       }

</script>





