@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using MIS.Model
@using MSI.Model
@model List<MIS.Model.CriminalRecordPoliceman>

@{CriminalRecord criminalRecord = null; }

@foreach (var item in Model)
{
    <h3 id="recordStatus"> Record Status : @item.CriminalRecord.Status </h3>
    <h3 id="recordStatus"> Type : @item.CriminalRecord.Type </h3>

    <div class="form-group border p-3" id="descriptionArea">
        @item.CriminalRecord.Description
    </div>

    criminalRecord = @item.CriminalRecord;
    break;
}



<form asp-controller="CriminalRecord" asp-action="AddPolicemanToACriminalRecord">
    <input type="hidden" name="criminalRecordId" id="criminalRecordValue" value="@criminalRecord.Id" />
    <input class="fcol-2" type="text" name="policemanEmail" placeholder="Email.." id="emailValue" />
    <button type="submit" class="btn btn-submit btn-primary">
        Add policeman
    </button>
    @*<div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Email</span>
            </div>
            <input type="text" class="form-group w-25 h-100 " placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
        </div>*@

</form>




@foreach (var item in Model)
{
<ul class="list-group">
    @if (@item.Policeman == null)
    {
        break;
    }

    else
    {
        <li class="list-group-item active"> 
        <span id="mySpan">Name : @item.Policeman.Name </span> 
        <span id="mySpan">Email : @item.Policeman.Email</span> 
        </li>

        

    }
</ul>
}





@*<script>
        function next(recordId, policemanEmail) {
            $.ajax(
                {
                    url: "CriminalRecord/Details/AddPolicemanToACriminalRecord?policemanEmail=" + policemanEmail + "&criminalRecordId=" + recordId,
                    type: 'POST',
                    success: function (data) {
                        window.location.href = "https://localhost:44300/CriminalRecord/Details/AddPolicemanToACriminalRecord?policemanEmail="
                            + policemanEmail + "&criminalRecordId=" + recordId;
                    }
                })
        }

        function getEmail() {
            var email = document.getElementById('emailValue').value;
            return email;
        }

    </script>*@





