@using MSI.Model
@model IEnumerable<MSI.Model.CriminalRecord>
<script src="~/lib/jquery/dist/jquery.js"></script>
@{
    ViewData["Title"] = "Index";
}

<div class="records-header">
    <div class="btn-police dropdown">
        <a id="dropdownMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-button dropdown-toggle">Records</a>
        <ul aria-labelledby="dropdownMenu1" class="dropdown-menu border-0 shadow">
            <li><a href="#" class="dropdown-item" data-toggle="modal" data-target="#addRecord">Add </a></li>
            <li class="dropdown-divider"></li>

            <li class="dropdown-submenu">
                <a id="dropdownMenu2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle" style="cursor:pointer">Status </a>
                <ul aria-labelledby="dropdownMenu2" class="dropdown-menu border-0 shadow">

                    <li><a href="#" class="dropdown-item">Active</a></li>
                    <li><a href="#" class="dropdown-item">Closed</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <form asp-controller="CriminalRecord" asp-action="Index" method="get" id="searchForm">
        <div class="search">
            <input type="search" class="search-input" placeholder="Search..." name="Name">
            <button type="submit" class="search-icon" value="Filter">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </form>

   


</div>



<div class="records-container">

    @foreach (var record in Model)
    {
        <div class="record" >
            <i class="fas fa-folder record-icon" onclick="next('@record.Id')"></i>
            <span class="record-name"><i class="fas fa-signature"></i> name : <span>@record.Name</span></span>
            <span class="record-date"><i class="far fa-clock"></i> date : <span> @record.CreatedOn</span></span>
            <div class="record-options">

                <a href="#editCriminalRecord" class="btn btn-record-edit" onclick="loadEditModal('@record.Id', '@record.Name', '@record.Description', '@record.Type')"><i class="far fa-edit" style="font-size : 12px;"></i> edit</a>
                <form asp-action="Delete" asp-controller="CriminalRecord" asp-route-id="@record.Id">
                    <button type="submit" class="btn btn-record-delete">
                        <i class="fas fa-trash" style="font-size : 12px;">

                        </i> delete
                    </button>
                </form>

            </div>
        </div>
        @*<input type="text" name="Id" value="@record.Id" />*@

    }

    <div class="modal fade" id="addRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form asp-controller="CriminalRecord" asp-action="Create">
                        <div class="form-group">
                            <label for="Name">Name</label>
                            <input type="text" class="form-control" id="Name" placeholder="Name" name="Name">
                        </div>
                        <div class="form-group">
                            <label for="Type">Type</label>
                            <input type="text" class="form-control" id="Type" placeholder="Type" name="Type">
                        </div>

                        <div class="form-group">
                            <label for="Description">Description</label>
                            <textarea class="form-control" id="Description" rows="3" placeholder="Description.." name="Description"></textarea>
                        </div>
                        <button class="btn btn-police btn-police-rounded">Submit</button>
                    </form>
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="editCriminalRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <form asp-controller="CriminalRecord" asp-action="EditCriminalRecord">
                        <partial name="_EditAndBackToList" />
                    </form>
                </div>

            </div>
        </div>
    </div>







    <script>
        function next(id) {
            $.ajax(
                {
                    url: "CriminalRecord/Details?recordId=" + id,
                    type: 'GET',
                    success: function (data) {
                        window.location.href = "https://localhost:44300/CriminalRecord/Details?recordId="+id;
                    }
                })
        }

        function loadEditModal(id, name, description, type) {
            $("#editRecordId").val(id)
            $("#editRecordName").val(name)
            $("#editRecordDescription").val(description)
            $("#editRecordType").val(type)
        }

        function getRecordId() {
            var id = document.getElementById('recordId').value;
            return id;
        }

        $(document).ready(function () {
            $('.btn-record-edit').on('click', function () {
                $('#editCriminalRecord').modal('show');
            });
        });

        //$(document).ready(function () {
        //    $('#showRecord').click(function () {
        //        console.log(getRecordId());
        //        $.ajax(
        //            {
        //                url: "CriminalRecord/Details?recordId=" + getRecordId(),
        //                type: 'GET',
        //                success: function (data) {
        //                    window.location.href = "https://localhost:44300/CriminalRecord/Details?recordId=" + getRecordId();
        //                }
        //            })
        //    });
        //});

            //$(document).ready(function () {
            //    $('#showRecord').click(function () {
            //        $.ajax(
            //            {
            //                url: '/SeachCriminalRecord',
            //                type: 'GET'
            //                success: function (data) {
            //                    window.location.href = "http://localhost:44300/CriminalRecord/SearchCriminalRecord";
            //                }
            //            })
            //    })
            //}



            //$(document).ready($(function () {

            //}
            //        // ------------------------------------------------------- //
            //        // Multi Level dropdowns
            //        // ------------------------------------------------------ //
            //        $("ul.dropdown-menu [data-toggle='dropdown']").on("click", function (event) {
            //    event.preventDefault();
            //    event.stopPropagation();

            //    $(this).siblings().toggleClass("show");


            //    if (!$(this).next().hasClass('show')) {
            //        $(this).parents('.dropdown-menu').first().find('.show').removeClass("show");
            //    }
            //    $(this).parents('li.nav-item.dropdown.show').on('hidden.bs.dropdown', function (e) {
            //        $('.dropdown-submenu .show').removeClass("show");
            //    });

            //});
            //    }))


    </script>

