@model MSI.Model.PoliceSection


<form asp-action="AddPolicemanToStation" asp-controller="PoliceSection">
    <div class="input-group mb-4 mt-4 display-1">
        <input type="hidden" name="id" value="@Model.Id" />
        <input type="text" class="form-control" placeholder="Policeman e-mail ..." name="email">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Add to section</button>
        </div>
    </div>
</form>



<div class="tf-tree tf-gap-lg">
    <ul>
        <li>
            <span class="tf-nc">1</span>
            <ul>
                <li>
                    <span class="tf-nc">2</span>
                    <ul>
                        <li><span class="tf-nc">4</span></li>
                        <li><span class="tf-nc">5</span></li>
                    </ul>
                </li>
                <li>
                    <span class="tf-nc">3</span>
                    <ul>
                        <li><span class="tf-nc">6</span></li>
                        <li><span class="tf-nc">7</span></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>




@*<div class="tf-tree tf-gap-lg">
        <ul>
            @foreach (var obj in Model.Policemen)
            {
            <li>
                @if (obj.Rank.Equals(0))
                {
                    <span class="tf-nc">@obj.Name</span>
                }
                <ul>
                    <li>
                        @if (obj.Rank.Equals(1))
                        {
                            <span class="tf-nc">@obj.Name</span>
                        }
                        <ul>
                            <li>
                                @if (obj.Rank.Equals(2))
                                {
                                    <span class="tf-nc">@obj.Name</span>
                                }
                                <ul>
                                    <li>
                                        @if (obj.Rank.Equals(3))
                                        {
                                            <span class="tf-nc">@obj.Name</span>
                                        }
                                        <ul>
                                            <li>
                                                @if (obj.Rank.Equals(4))
                                                {
                                                    <span class="tf-nc">@obj.Name</span>
                                                }
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            }
        </ul>
    </div>*@





