@using MSI.Model

@model IEnumerable<PoliceSection>
@*<div class="input-group  mb-4 mt-4">
        <input type="text" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Search</button>
        </div>
    </div>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<style>
    #map {
        width: 100%;
        height: 400px;
    }
</style>

<div class="container mt-4 mb-5">
    <div class="row text-center">
        <div class="col col-4 text-center">
            <a class="btn btn-primary text-center" asp-controller="PoliceSection" asp-action="Create" style="width:150px">
                <h4>Create</h4>
            </a>
        </div>
        <div class="col col-8 text-center" style="width:400px; margin-left:auto">
            <form asp-controller="PoliceSection" asp-action="Index" id="textsearch" method="get">
                <div class="search border">
                    <input type="text" class="search-input" id="textsearch"
                           placeholder="Search..." name="searchString"> <a href="#" class="search-icon">
                        <i class="fa fa-search"></i>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>







<div class="container">
    <div class="row">
        <div class="card-group">
            @foreach (var obj in Model)
            {
                if (obj != null)
                {
                    <div class="col-4 mb-5">

                        <div class="shadow card rounded justify-content-center text-center align-items-center zoom c4rd"
                             style="width: 18rem; background-color:#374f6b; height:300px ;color:#fff; border-radius:50px">
                            <div class="card-body p-0">
                                <h5 class="card-title">@obj.Name</h5>
                                @if (obj.Policemen.Count.Equals(1))
                                {
                                    <p>@obj.Policemen.Count <span>police officer</span></p>
                                }
                                else
                                {<p>@obj.Policemen.Count <span>police officers</span></p>}


                                <p class="card-text">
                                    <i class="bi bi-geo-alt"></i>  <span>@obj.Address.City ,</span>
                                    <span>@obj.Address.Street, </span>
                                    <span>@obj.Address.Number</span>
                                </p>
                                <div class="row text-center mb-4">
                                    <div class="col col-6">
                                        <a class="btn btn-primary" asp-route-Id="@obj.Id" asp-controller="policesection" asp-action="Update">
                                            Update
                                        </a>
                                    </div>
                                    <div class="col col-4">
                                        <a class="btn btn-danger" asp-route-Id="@obj.Id" asp-controller="policesection" asp-action="Delete">
                                            Delete
                                        </a>
                                    </div>
                                </div>
                                <a asp-controller="policesection" asp-action="Hierarchy" asp-route-Id="@obj.Id" class="btn btn-light">Go to section</a>
                            </div>
                            @* <a asp-controller="policesection" asp-action="Hierarchy" asp-route-id="@obj.Id" class="btn btn-light">Go to section</a> *@
                        </div>

                    </div>
                }
            }
        </div>
    </div>
</div>

<div id="map">
    <script>
        var addresses = [];
        var geocoder;

        function initMap() {
            
            //centrul romaniei
            const sibiu = { lat: 45.7958, lng: 24.1522 };

            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 6.2,
                center: sibiu,
            });

            geocoder = new google.maps.Geocoder()
        $.ajax({
            url: "/PoliceSection/GetSectionsAddress",
            success: function (data) {
                addresses = data;
                for (var i = 0; i < addresses.length; i++) {
                    var address = addresses[i].number + addresses[i].street + addresses[i].city;
                    geocoder.geocode({ 'address': address },
                        function (results, status) {
                            if (status == 'OK') {
                                var marker3 = new google.maps.Marker({
                                    map: map,
                                    position: {
                                        lat: results[0].geometry.location.lat(),
                                        lng: results[0].geometry.location.lng()
                                    }
                                });
                                //console.log(results[0].geometry.location.lng())
                            } else {
                                alert('Geocode was not successful for the following reason: ' + status);
                            }
                        })

                //     $.ajax({
                //    url: "https://maps.googleapis.com/maps/api/geocode/json?address=" + addresses[i].number + "+" + addresses[i].street + ",+" + addresses[i].city + ",+RO&key=AIzaSyBBoMY_7eHfch0A4ZJMQwIaxflMamkJpto",
                //    function(data) {
                //        console.log(url);
                //        console.log(data);
                //    }
                //})
                }
            }

        })
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBoMY_7eHfch0A4ZJMQwIaxflMamkJpto&callback=initMap"
            type="text/javascript"></script>
</div>

@*https://maps.googleapis.com/maps/api/geocode/json?address=10+Strada+Campului,+Craiova,+RO&key=AIzaSyBBoMY_7eHfch0A4ZJMQwIaxflMamkJpto*@



@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $("textsearch").on("keyup",function() {
            var textenter = $(this).val();
            $("card cr").each(function (results) {
                if (results != 0) {
                    var id = $(this).find("h5:nth-child(1)").text();
                    if (id.indexOf(textcenter) != 0 && id.toLowerCase().indexOf(textenter.toLowerCase()) < 0) {
                        $(this).hide();
                    }
                    else {
                        $(this).show();
                    }
                }
            });
        }
        )
    </script>*@



